form {
    overflow: scroll;
    scrollbar-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

form h1 {
    font-size: 3rem;
    padding: 6px;
}

form h2 {
    font-size: 2rem;
    padding: 6px;
}

form label {
    padding: 12px 0;
    font-size: 1.2rem;
}

form input {
    background-color: var(--bg-color);
    border: 3px solid var(--on-primary-color);
    width: 65%;
    padding: 8px;
    font-size: 1.1rem;
    border-radius: 12px;
    outline: none;
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

form input:focus {
    border: 3px solid var(--primary-color);
}

button {
    background-color: var(--on-primary-color);
    margin: 12px 0;
    padding: 8px;
    width: 30%;
    font-size: 1.1rem;
    border-radius: 12px;
    border: none;
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
}

form hr {
    border: 1px solid var(--on-primary-color);
    border-radius: 6px;
    margin: 12px;
    width: 75%;
}

form a {
    color: var(--primary-color);
    padding: 6px;
    font-size: 1rem;
    display: flex;
    align-items: center;
}